project:
  type: website
  execute-dir: project

execute: 
  freeze: auto  # re-render only when source changes
  warning: false
  error: false
      

website:
  title: "CAZ Health Indicators Trends"
  sidebar:
    style: "docked"
    search: true
    contents:
      - href: qmds_ghpages/index.qmd
        text: Home
      - section: Data
        contents:
          - href: qmds_ghpages/CAZ_definition.qmd
            text: Clean Air Zones
          - href: qmds_ghpages/practice_data.qmd
            text: GP Practices
          - href: qmds_ghpages/prescription_data.qmd
            text: Prescriptions
          - href: qmds_ghpages/fingertips_data.qmd
            text: Health indicators
      - section: Analysis
        contents:
          - href: qmds_ghpages/CAZ_practice_age_analysis.qmd
            text: Practice characteristics by CAZ boundaries
          - href: qmds_ghpages/CAZ_prescription_trends.qmd
            text: Trends by practice location
          - href: qmds_ghpages/Corr_analysis.qmd
            text: Correlation Analysis
          - href: qmds_ghpages/fingertips_trends.qmd
            text: Under 19 yrs hospital admissions for asthma
      - qmds_ghpages/about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    toc-depth: 5
    code-fold: true
    code-summary: "Show the code"



