project:
  type: website
  execute-dir: project

execute: 
  freeze: auto  # re-render only when source changes
  warning: false
  error: false
      

website:
  title: "CAZ Health Indicators Trends"
  sidebar:
    style: "docked"
    search: true
    contents:
      - href: qmds_ghpages/index.qmd
        text: Home
      - section: Data
        contents:
          - href: qmds_ghpages/CAZ_definition.qmd
            text: Clean Air Zones
          - href: qmds_ghpages/practice_data.qmd
            text: GP Practices
          - href: qmds_ghpages/prescription_data.qmd
            text: Prescriptions
          - href: qmds_ghpages/fingertips_data.qmd
            text: Health indicators
          - href: qmds_ghpages/rural_urban_class.qmd
            text: Urban / Rural classification data
      - section: Analysis
        contents:
          - href: qmds_ghpages/CAZ_practice_age_analysis.qmd
            text: Practice characteristics by CAZ boundaries
          - href: qmds_ghpages/CAZ_prescription_trends.qmd
            text: Trends by practice location
          - href: qmds_ghpages/Corr_analysis.qmd
            text: Correlation Analysis
          - href: qmds_ghpages/fingertips_trends.qmd
            text: Under 19 yrs hospital admissions for asthma
      - section: CAZ Results
        contents:
          - href: qmds_ghpages/03_results/Sheffield_results.qmd
            text: Sheffield
          - href: qmds_ghpages/03_results/Bath_and_North_East_Somerset_results.qmd
            text: Bath and North East Somerset
          - href: qmds_ghpages/03_results/Birmingham_results.qmd
            text: Birmingham
          - href: qmds_ghpages/03_results/Bristol_results.qmd
            text: Bristol
          - href: qmds_ghpages/03_results/Bradford_results.qmd
            text: Bradford
          - href: qmds_ghpages/03_results/Portsmouth_results.qmd
            text: Portsmouth
          - href: qmds_ghpages/03_results/Newcastle_upon_Tyne_results.qmd
            text: Newcastle upon Tyne
      - qmds_ghpages/about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    toc-depth: 4
    code-fold: true
    code-summary: "Show the code"



